@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

* {
      margin: 0;
      padding: 0;
      text-decoration: none;
      font-family: "Lato";
}
#container p {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      padding: 50px;
}
#accordion-wraper {
      width: 70%;
      margin: auto;
      border-radius: 4px;
      overflow: hidden;
      border-bottom: 15px solid #2ba659;
}
.accordionName {
      width: 100%;
      padding: 40px;
      font-size: 22px;
      border: none;
      border-bottom: 1px solid #ccc;
      background-color: #38cc70;
      color: #fff;
      text-align: center;
      cursor: pointer;
}

.panel {
      width: 100%;
      height: 0;
      background-color: #eeeeee;
      text-align: justify;
      box-sizing: border-box;
      color: #000;
      font-size: 15px;
      overflow: hidden;
      transition: 0.5s;
      border: 1px solid #dddddd;
}

.panel h2 {
      padding: 15px 0px 15px 20px;
}
.panel ul,
p {
      text-align: justify;
      padding: 0px 30px 20px 50px;
      list-style-type: none;
}
.panel li {
      padding: 15px 0px 0px 0px;
}
.panel strong {
      color: #ff3e00;
}
